body {
    overflow: hidden;
    background: #2f3129;
}

#editor {
    width: 100%;
    height: 70vh;
}

#menuBar {
    background: #222320 !important;
    border: 2px solid #101010 !important;
    color: #bbb !important;
}

#errorPanel {
    height: 22vh;
    padding: 10px;
    background: black;
    border: 1px solid #101010;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    overflow-y: scroll;
    width: 100%;
}

.navbar-btn {
    border-radius: 10px !important;
    border: 1px solid #444;
    background: #323331;
    margin: 2px;
}

.btn img {
    height: 19px;
    width: 19px;
}

.btn:hover {
    background-color: #777;
}

#report-iframe {
    width: 100%;
    height: 100%;
    border-left: 1px solid #101010;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

select {
    outline: 10px red;
    border: 1px solid #333;
    border-radius: 14px;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

.vertical-text {
    width: 33px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    margin-right: 10px;
    background-color: #232420;
    color: #bbb;
    font-size: 20px;
    border: 1px solid #1a1c15;
}

#keywordInfoPanel {
    display: flex;
    height: 22vh;
    padding: 10px;
    background: #2f3129;
    border: 1px solid #101010;
    color: #bbb;
    overflow-y: scroll;
    width: 100%;
}

.keyword-list {
    flex: 2;
    overflow-y: auto;
    height: 100%;
    border-right: 1px solid #ccc;
}

.keyword-description {
    flex: 5;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.keyword-item {
    padding: 8px 10px;
    margin: 2px;
    background-color: #3a3d33;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.keyword-item:hover,
.keyword-item.active {
    background-color: #4a4d43;
    color: #d0d0d0;
}

.top-border {
    border-top: 1px solid #101010;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222320;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#splash-screen.hidden {
    opacity: 0;
}

.text-stroke {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 1px #fff;
}

.loading-bar {
    width: 0%;
    height: 4px;
    background-color: #ff8c00;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.logo {
    width: 300px;
    height: 300px;
}

.keyword-item {
    position: relative;
    margin-bottom: 1rem;
    border-bottom: 1px solid #444;
    padding-bottom: 0.75rem;
}

.keyword-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #e1e1e1;
    font-size: 1.2rem;
}

.keyword-group {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 1.25rem;
    background-color: #555;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.keyword-description {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.keyword-parameters {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.parameter-pill {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 0.85rem;
    margin: 0.25rem;
    overflow: hidden;
}

.parameter-pill-name {
    flex: 1;
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    background-color: #444;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    font-weight: bold;
}

.parameter-pill-type {
    font-size: 0.75rem;
    background-color: #252525;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding: 0.3rem;
    white-space: nowrap;
}